<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<h1>hello!</h1>
    <h2>Welcome to this simple weather website</h2>
    <p> Please enter the city to get its weather </p>
<form action= "#" method="post">
  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>

    <p>Select units you want:</p>
  <input type="radio" id="imperial" name="unit" value="imperial">
  <label for="imperial">Imperial</label><br>
  <input type="radio" id="metric" name="unit" value="metric">
  <label for="metric">Metric</label><br>
  <input type="submit" value="Go!">
</form>


</body>
</html>